[include]
	path = .gitconfig.local
[user]
	name=assout
	email = assout@users.noreply.github.com
[push]
	default = simple
# for gist.vim
[github]
	user = assout
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	autocrlf = input
[alias]
	st  = status
	cm  = commit
	cmm = commit -m
	cma = commit -a
	br  = branch
	co  = checkout
	df  = diff
	dfc = diff --cached
	dfh = diff HEAD
	lg  = log -p

