[user]
	name = assout
	email = assout@users.noreply.github.com
[push]
	default = simple
# for gist.vim
[github]
	user = assout
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	autocrlf = input
[alias]
	br   = branch
	cm   = commit
	cma  = commit -a
	cmm  = commit -m
	cmq  = commit -a -m
	co   = checkout
	df   = diff
	dfc  = diff --cached
	dfh  = diff HEAD
	lg   = log -p
	st   = status
[include] # user.name,user.email,proxy from local
	path = .gitconfig.local
