[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
  quotepath = false
  attributesfile = ~/.gitattributes
[alias]
  graph  = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
  ui = true # 古いバージョンの場合defaultでないため
[include]
  path = .gitconfig.environment
[hub]
  protocol = https

